.inner-page-heading {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 7px 15px; /* Add padding to the left and right */
    width: 100%; /* Ensure the element takes full width */
    background-color: #2c75c2;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
  }
.text-content {
    overflow-y: auto; /* Add this line to make content scrollable */
    max-height: 400px; /* Adjust the height as needed */
}
.category-name {
    width: 97%;
    border: 6px solid #747474;
    background: #747474;
    color: #fff;
    margin: 15px 3px 6px 31px;
}


.project_div {
    box-shadow: 6px 8px 4px #3a292940;
    background: #8c8e902e;
    padding: 15px;
    border-radius: 20px;
    margin-top: 13px;
}


.project_title .text-content {
    overflow-y: auto; /* Make content scrollable */
    max-height: 400px; /* Adjust the height as needed */
    transition: transform 2s ease; /* Add transition for smooth effect */
}
.project_div:hover {
   
    transition: transform 0.6s ease;
    transform: scale(1.05); /* Enlarge the element slightly */
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.project_title .text-content {
    overflow-y: auto; /* Make content scrollable */
    max-height: 400px; /* Adjust the height as needed */
}
.project_font {
    font-size: 16.5px;
    font-family: "Georgia", georgia, serif;
    color: #000000c9;
}
* {
    box-sizing: border-box;
  }
body {
    height: 100%;
  font-family: 'Roboto', sans-serif;
}
body {font-family: "Lato", sans-serif;}